@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* Common styles for both light and dark modes */
body {
  background: #f2f2f2; /* Default background color */
  font-family: 'Open Sans', sans-serif;
  color: #333; /* Default text color */
}

/* Dark mode styles */
body.dark-mode {
  background: #121212; /* Dark mode background color */
  color: #ffffff; /* Dark mode text color */
}

.header {
  width: 100%;
  background: #282828;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 1000;
  gap: 20px;
  right: 0;
  left: -30px; /* Adjust as needed */
}

.header-logo {
  height: 40px;
}

/* Search bar styles */
.wrap {
  flex-grow: 1;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: end;
}

.fa-search:before {
  content: "\f002";
  position: fixed;
  top: 32px;
}

.searchTerm {
  width: 30%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus {
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.sort-button {
  background-color: #1DB954;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-left: 10px;
}

.sort-button:hover {
  background-color: #1ed760;
}

@media (max-width: 768px) {
  .wrap {
    width: 50%;
  }
}

@media (max-width: 480px) {
  .wrap {
    width: 70%;
  }
}

/* Dark mode specific styles */
body.dark-mode .header {
  background: #121212;
}

body.dark-mode .searchTerm {
  border-color: #00B4CC;
  color: #9DBFAF;
}

body.dark-mode .searchTerm:focus {
  color: #00B4CC;
}

body.dark-mode .searchButton {
  background-color: #00B4CC;
  border-color: #00B4CC;
}

body.dark-mode .sort-button {
  background-color: #1DB954;
}

body.dark-mode .sort-button:hover {
  background-color: #1ed760;
}
