.header {
  width: 100%;
  background: #282828;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: -30px;
  z-index: 1000;
  gap: 20px;
}

.wrap {
  flex-grow: 1;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: flex-end; /* Align search bar to the right */
}

.searchTerm {
  width: 30%; /* Adjust width as needed */
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 22px; /* Increase height for better touch targets */
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus {
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px; /* Match height with searchTerm */
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.sort-button {
  background-color: #1DB954;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-left: 10px;
}

.sort-button:hover {
  background-color: #1ed760;
}

@media (max-width: 768px) {
  .wrap {
    width: 50%;
  }
}

@media (max-width: 480px) {
  .wrap {
    width: 70%;
  }

  .searchTerm {
    width: 100%; /* Full width on smaller screens */
  }

  .searchButton {
    width: 30%; /* Adjust button width for smaller screens */
    border-radius: 5px; /* Apply border-radius to match input field */
  }
}
