.favorite-episode {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.episode-image {
  width: 100px;
  height: 100px;
  margin-right: 1em;
}

.episode-details {
  flex: 1;
}

.current-episode {
  margin-top: 2em;
}

.current-episode .episode-image {
  width: 200px;
  height: 200px;
}
