.audio-player {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .audio-player img {
    height: 50px;
    margin-right: 10px;
  }
  
  .audio-player-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    padding: 10px;
    display
  