body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.app {
  display: flex;
  flex-direction: row;
}

.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.content {
  left: 215px;
  position: absolute;
  top: 67px /* Adjust according to sidebar width */
}
