.app {
    display: flex;
    min-height: 100vh;
  }
  
  .header {
    width: 100%;
    z-index: 1000;
    position: fixed;
    top: 0;
  }

  .sidebar {
    /* background-color: #f4f4f4; */
    padding: 20px;
    height: 100;
    width: 250px; /* Ensure this matches the sidebar width in Sidebar.css */
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  }
  
  .main-content {
    flex-grow: 1;
    margin-left: 270px; /* Ensure this matches the margin-left in MainContent.css */
    padding: 80px 20px 20px;
  }

  .podcast-details {
    flex-grow: 1;
    margin-left: 220px;
    padding: 20px;
  }